.btn-light-primary,
.bg-light-primary {
  background-color: #dbb569 !important;
}

.btn-outline-primary {
  color: #D2A344;
  border-color: #D2A344;
}
.btn-outline-primary:hover {
  background-color: transparent;
  border-color: #b7892c;
  color: #D2A344;
}
.btn-outline-primary:disabled, .btn-outline-primary.disabled {
  color: #a27a27;
  border-color: #a27a27;
}
.btn-outline-primary:not(:disabled):not(.disabled):active {
  background-color: transparent;
  border-color: #b7892c;
  color: #D2A344;
}

.btn-primary,
.bg-primary {
  background-color: #D2A344 !important;
  border-color: #D2A344 !important;
}

.btn-gradient-primary,
.bg-gradient-primary {
  background-image: linear-gradient(to right, #a47f35, #d4a84d) !important;
}

.border-light-primary {
  border-color: #dbb569 !important;
}

.border-primary {
  border-color: #D2A344 !important;
}

.text-light-primary {
  color: #dbb569 !important;
}

.text-primary {
  color: #D2A344 !important;
}

.btn-light-primary:hover, .btn-light-primary:active, .btn-light-primary:focus {
  background-color: #D2A344 !important;
  color: #dbb569 !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #bf8f2e !important;
  border-color: #a77d28 !important;
}

.btn-light-dark,
.bg-light-dark {
  background-color: #343434 !important;
}

.btn-outline-dark {
  color: #010101;
  border-color: #010101;
}
.btn-outline-dark:hover {
  background-color: transparent;
  border-color: black;
  color: #010101;
}
.btn-outline-dark:disabled, .btn-outline-dark.disabled {
  color: black;
  border-color: black;
}
.btn-outline-dark:not(:disabled):not(.disabled):active {
  background-color: transparent;
  border-color: black;
  color: #010101;
}

.btn-dark,
.bg-dark {
  background-color: #010101 !important;
  border-color: #010101 !important;
}

.btn-gradient-dark,
.bg-gradient-dark {
  background-image: linear-gradient(to right, #010101, #0e0e0e) !important;
}

.border-light-dark {
  border-color: #343434 !important;
}

.border-dark {
  border-color: #010101 !important;
}

.text-light-dark {
  color: #343434 !important;
}

.text-dark {
  color: #010101 !important;
}

.btn-light-dark:hover, .btn-light-dark:active, .btn-light-dark:focus {
  background-color: #010101 !important;
  color: #343434 !important;
}

.btn-dark:hover, .btn-dark:active, .btn-dark:focus {
  background-color: black !important;
  border-color: black !important;
}

/*---------*/
@font-face {
  font-family: "SourceSerifPro-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SourceSerifPro-Regular.woff2") format("woff2"), url("../fonts/SourceSerifPro-Regular.woff") format("woff"), url("../fonts/SourceSerifPro-Regular.ttf") format("truetype"), url("../fonts/SourceSerifPro-Regular.eot") format("eot");
  font-display: swap;
}
/*---------*/
@font-face {
  font-family: "SourceSerifPro-Semibold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SourceSerifPro-Semibold.woff2") format("woff2"), url("../fonts/SourceSerifPro-Semibold.woff") format("woff"), url("../fonts/SourceSerifPro-Semibold.ttf") format("truetype"), url("../fonts/SourceSerifPro-Semibold.eot") format("eot");
  font-display: swap;
}
/*---------*/
@font-face {
  font-family: "SourceSerifPro-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SourceSerifPro-Bold.woff2") format("woff2"), url("../fonts/SourceSerifPro-Bold.woff") format("woff"), url("../fonts/SourceSerifPro-Bold.ttf") format("truetype"), url("../fonts/SourceSerifPro-Bold.eot") format("eot");
  font-display: swap;
}
/*-----------------------
   fontFamily
-------------------------*/
::-moz-selection {
  background: #010101;
}
::selection {
  background: #010101;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #F1F1F1;
}

::-webkit-scrollbar-thumb {
  background: #BBBDC1;
  border-radius: 120px;
}

html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
  scroll-behavior: initial;
  overflow-x: hidden !important;
}

body {
  font-size: 16px;
  vertical-align: baseline;
  overflow-x: hidden !important;
  font-family: "SourceSerifPro-Regular";
  font-weight: 400;
  font-style: normal;
}
body.modal-open {
  padding-right: 0 !important;
}
body.show-overlay {
  overflow: hidden;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  text-decoration: none !important;
  transition: all 1s ease-out;
  cursor: pointer !important;
}

.btn {
  box-shadow: none !important;
  outline: 0 !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

ol,
ul {
  list-style: none;
}

figure,
ol,
p,
ul {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-rendering: optimizelegibility;
  margin-top: 0;
  margin-bottom: 0;
}

.row-gap-3 {
  row-gap: 1rem;
}

/*-----------------------
    ganeral Styles
-------------------------*/
video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.padding-section {
  padding: 4rem 0;
}

.center-title .line {
  height: 1px;
  background: #010101;
}
@media (min-width: 768px) {
  .center-title .line {
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .center-title .line {
    width: 50%;
  }
}
.center-title h3 {
  color: #010101;
  font-family: "SourceSerifPro-Semibold";
}
@media (min-width: 1400px) {
  .center-title h3 {
    font-size: 3.125rem;
  }
}
@media (min-width: 1360px) {
  .center-title h3 {
    font-size: 2rem;
  }
}
@media (max-width: 1199px) and (min-width: 768px) {
  .center-title h3 {
    font-size: 2rem;
  }
}
@media (max-width: 767.98px) {
  .center-title h3 {
    font-size: 1.75rem;
  }
}

.one-line {
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*-----------------------
    preloader
-------------------------*/
#preloader-background,
#circle-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

#preloader-background {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: #000;
}
html[dir=rtl] #preloader-background {
  right: 0;
  left: 0;
}
html[dir=ltr] #preloader-background {
  right: 0;
  left: 0;
}

#circle-loader {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 10px;
  border-top-color: #D2A344;
  border-right-color: #D2A344;
  border-bottom-color: #FDFBFB;
  border-left-color: #FDFBFB;
  border-radius: 50%;
  animation: spinLoader 2s linear infinite;
}
@media only screen and (min-width: 991px) {
  #circle-loader {
    width: 400px;
    height: 400px;
  }
}
@keyframes spinLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#centre-logo {
  position: fixed;
  width: 150px;
  padding-bottom: 10px;
}
@media only screen and (min-width: 991px) {
  #centre-logo {
    width: 300px;
  }
}

.animatePageIn {
  position: relative;
  -webkit-animation-name: animatePageIn;
  -webkit-animation-duration: 3s;
  animation-name: animatePageIn;
  animation-duration: 3s;
}
@keyframes animatePageIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*-----------------------
    header Styles
-------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: auto;
  margin: 0 auto;
  animation-duration: 0.5s;
  animation-name: sticky-animation;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
@media (max-width: 991.98px) {
  .header {
    padding: 0 1rem;
  }
}
.header.scrolled {
  background: rgba(249, 249, 249, 0.8);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.header.scrolled .menu-link {
  color: #010101 !important;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  align-content: center;
  height: auto;
}
@media only screen and (min-width: 992px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .brand img {
    width: 75px;
  }
}
@media (max-width: 991.98px) {
  .brand img {
    width: 55px;
  }
}

.menu {
  position: fixed;
  left: 0;
  width: 100%;
  height: auto;
  padding-block: 3rem 2rem;
  background: #fff;
  transition: all 0.45s ease-in-out;
}
@media (min-width: 992px) {
  .menu {
    top: -100%;
    height: 0;
    overflow: hidden;
  }
}
@media (max-width: 991.68px) {
  .menu {
    overflow: auto;
    top: -200%;
    height: 0;
  }
}
.menu.is-active {
  top: 0;
  width: 100%;
  height: 100vh;
}
.menu-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 992px) {
  .menu-inner {
    row-gap: 1.25rem;
  }
}
@media (max-width: 992px) {
  .menu-inner {
    row-gap: 2rem;
  }
}
.menu-link {
  font-size: 1.125rem;
  color: #fff;
  transition: all 0.35s ease-in-out;
  font-family: "SourceSerifPro-Bold";
}
.menu-link:hover, .menu-link.active {
  outline: none;
  color: #D2A344;
}
@media only screen and (min-width: 992px) {
  .menu {
    position: relative;
    justify-self: end;
    top: 0;
    left: inherit;
    width: auto;
    height: auto;
    padding-block: 0;
    background: none;
    box-shadow: none;
    transition: none;
  }
  .menu-inner {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 1.56rem;
         column-gap: 1.56rem;
    margin: 0 auto;
  }
  .menu-link {
    text-transform: capitalize;
  }
}
@media only screen and (max-width: 991.98px) {
  .menu-link {
    text-transform: capitalize;
    color: #010101;
  }
}

.burger {
  position: relative;
  justify-self: end;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 10;
  width: 2.5rem;
  height: 1.15rem;
  border: none;
  outline: none;
  background: none;
  visibility: visible;
  transform: rotate(0deg);
  transition: 0.35s ease;
}
@media only screen and (min-width: 992px) {
  .burger {
    display: none;
    visibility: hidden;
  }
}
.burger-line {
  position: absolute;
  display: block;
  right: 0;
  width: 100%;
  height: 2.1px;
  border: none;
  outline: none;
  opacity: 1;
  border-radius: 1rem;
  transform: rotate(0deg);
  background-color: #D2A344;
  transition: 0.25s ease-in-out;
}
.burger-line:nth-child(1) {
  top: 0px;
}
.burger-line:nth-child(2) {
  top: 0.5rem;
  width: 70%;
}
.burger-line:nth-child(3) {
  top: 1rem;
}
.burger.is-active .burger-line:nth-child(1) {
  top: 0.5rem;
  transform: rotate(135deg);
}
.burger.is-active .burger-line:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}
.burger.is-active .burger-line:nth-child(3) {
  top: 0.5rem;
  transform: rotate(-135deg);
}

header.header-position-relative .menu-inner .menu-item .menu-link {
  color: #010101;
}
header.header-position-relative .menu-inner .menu-item .menu-link.active {
  color: #D2A344;
}

/*-----------------------
    About Us Styles
-------------------------*/
@media (min-width: 1400px) {
  .aboutUs-description {
    gap: 5rem;
  }
  html[dir=rtl] .aboutUs-description {
    padding-right: 6.31rem;
  }
  html[dir=ltr] .aboutUs-description {
    padding-left: 6.31rem;
  }
}
@media (max-width: 1399px) and (min-width: 1200px) {
  .aboutUs-description {
    gap: 3rem;
  }
  html[dir=rtl] .aboutUs-description {
    padding-right: 3rem;
  }
  html[dir=ltr] .aboutUs-description {
    padding-left: 3rem;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .aboutUs-description {
    gap: 1rem;
  }
  html[dir=rtl] .aboutUs-description {
    padding-right: 1rem;
  }
  html[dir=ltr] .aboutUs-description {
    padding-left: 1rem;
  }
}
@media (max-width: 991.98px) {
  .aboutUs-description {
    gap: 2rem;
  }
}
@media (min-width: 1200px) {
  .aboutUs-description .item {
    gap: 2.88rem;
  }
  .aboutUs-description .item img {
    width: 3rem;
  }
}
@media (max-width: 1199px) {
  .aboutUs-description .item {
    gap: 1rem;
  }
  .aboutUs-description .item img {
    width: 2rem;
  }
}
.aboutUs-description .item p {
  letter-spacing: 0.025rem;
  color: #010101;
}
@media (min-width: 1200px) {
  .aboutUs-description .item p {
    font-size: 1.25rem;
  }
}
@media (max-width: 1199px) {
  .aboutUs-description .item p {
    font-size: 1rem;
  }
}

.aboutUs-img {
  height: 400px;
  border-radius: 1.75rem;
  overflow: hidden;
}
.aboutUs-img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.counter {
  padding: 5rem 0 3rem 0;
}
.counter .counting-div .counting {
  color: #000;
  font-size: 2.1875rem;
  font-family: "SourceSerifPro-Bold";
}
.counter .counting-div .count {
  color: #000;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-family: "SourceSerifPro-Semibold";
}
.counter .counting-div .count-span {
  color: #000;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-family: "SourceSerifPro-Semibold";
}
.counter .counting-div .plus {
  color: #000;
  font-size: 1.5rem;
  font-family: "SourceSerifPro-Regular";
}
.counter .name {
  text-align: center;
  font-size: 1.1rem;
  color: #D2A344;
  font-family: "SourceSerifPro-Semibold";
}
.counter .about-counter-flex {
  gap: 1.88rem;
}

.counting {
  display: inline-block;
  transition: transform 0.2s, opacity 0.2s;
  transform-origin: center bottom;
}

.counting.flip {
  transform: rotateX(360deg);
}

/*-----------------------
    About-Us page
-------------------------*/
.meetOur-brains {
  padding: 4rem 0;
}
.meetOur-brains .our-brain-card {
  border-radius: 1.5rem;
  border: 1px solid #220606;
}
@media (min-width: 400px) {
  .meetOur-brains .our-brain-card {
    height: 400px;
  }
}
.meetOur-brains .our-brain-card img {
  -o-object-fit: cover;
     object-fit: cover;
}
.meetOur-brains .our-brain-card::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(179deg, rgba(8, 7, 43, 0) 53.71%, rgba(0, 0, 0, 0.89) 95.21%);
}
html[dir=rtl] .meetOur-brains .our-brain-card::after {
  right: 0;
  left: 0;
}
html[dir=ltr] .meetOur-brains .our-brain-card::after {
  right: 0;
  left: 0;
}
.meetOur-brains .our-brain-card .info-desc {
  z-index: 11;
  position: absolute;
  top: unset;
  bottom: 1.44rem;
}
html[dir=rtl] .meetOur-brains .our-brain-card .info-desc {
  right: 0.94rem;
  left: unset;
}
html[dir=ltr] .meetOur-brains .our-brain-card .info-desc {
  right: unset;
  left: 0.94rem;
}
.meetOur-brains .our-brain-card .info-desc .name {
  font-size: 1.5625rem;
  font-family: "SourceSerifPro-Bold";
  letter-spacing: 0.03125rem;
}
.meetOur-brains .our-brain-card .info-desc .title-position {
  text-transform: capitalize;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: " ";
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  right: auto;
}
@media (min-width: 768px) {
  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: -9px;
  }
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
  left: auto;
}
@media (min-width: 768px) {
  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: -9px;
  }
}

.swiper-button-next.meet-brains,
.swiper-button-prev.meet-brains {
  width: 2.6875rem;
  height: 2.6875rem;
  border-radius: 100%;
  background: #E0DDDD;
}

.swiper-button-next, .swiper-button-prev {
  top: 60%;
}

.swiper-pagination-bullet-active {
  background: #D2A344;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.swiper-pagination {
  position: relative;
  margin-top: 2rem;
}

.our-clients {
  padding: 4rem 0 2rem 0;
}
@media (min-width: 992px) {
  html[dir=rtl] .our-clients .our-clients-card {
    padding-right: 3.5rem;
  }
  html[dir=ltr] .our-clients .our-clients-card {
    padding-left: 3.5rem;
  }
}
.our-clients .our-clients-card .image-client {
  border-radius: 1.4375rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.our-clients .our-clients-card .image-client img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 992px) {
  .our-clients .our-clients-card .image-client {
    width: 5.8125rem;
    height: 5.8125rem;
    position: absolute;
    top: 1.19rem;
    bottom: unset;
  }
  html[dir=rtl] .our-clients .our-clients-card .image-client {
    right: 0;
    left: unset;
  }
  html[dir=ltr] .our-clients .our-clients-card .image-client {
    right: unset;
    left: 0;
  }
}
@media (max-width: 991.98px) {
  .our-clients .our-clients-card .image-client {
    width: 3.8125rem;
    height: 3.8125rem;
    position: absolute;
    top: 0.5rem;
    bottom: unset;
  }
  html[dir=rtl] .our-clients .our-clients-card .image-client {
    right: 0.5rem;
    left: unset;
  }
  html[dir=ltr] .our-clients .our-clients-card .image-client {
    right: unset;
    left: 0.5rem;
  }
}
.our-clients .our-clients-card .desc-client {
  border-radius: 1.4375rem;
  border: 1px solid rgba(205, 192, 192, 0.39);
  background: #E4E4E4;
}
@media (min-width: 992px) {
  .our-clients .our-clients-card .desc-client {
    padding: 1.19rem 5rem 2rem 5rem;
  }
}
@media (max-width: 991.98px) {
  .our-clients .our-clients-card .desc-client {
    padding-top: 1.19rem;
    padding-bottom: 2rem;
  }
  html[dir=rtl] .our-clients .our-clients-card .desc-client {
    padding-right: 5rem;
  }
  html[dir=ltr] .our-clients .our-clients-card .desc-client {
    padding-left: 5rem;
  }
  html[dir=rtl] .our-clients .our-clients-card .desc-client {
    padding-left: 1rem;
  }
  html[dir=ltr] .our-clients .our-clients-card .desc-client {
    padding-right: 1rem;
  }
}
.our-clients .our-clients-card .desc-client .name {
  font-size: 1.125rem;
  margin-bottom: 0;
  color: #010101;
  font-family: "SourceSerifPro-Bold";
}
.our-clients .our-clients-card .desc-client .position {
  font-size: 1rem;
  color: #010101;
}
.our-clients .our-clients-card .desc-client .description {
  margin-top: 2rem;
  font-size: 0.9375rem;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*-----------------------
    contact-Us
-------------------------*/
.contact-Us {
  padding: 4rem 0;
}
@media (min-width: 790px) {
  .contact-Us .social-icon img {
    height: 60px;
  }
}
@media (max-width: 789.98px) {
  .contact-Us .social-icon img {
    height: 40px;
  }
}

.responsive-map {
  overflow: hidden;
  padding-bottom: 95.25%;
  position: relative;
  height: 0;
  border-radius: 0.625rem;
  border: 1px solid #BBB1B1;
}
.responsive-map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.contact-Us-info .item {
  padding: 1rem;
  border-radius: 1.0625rem;
  border: 1px solid #CFCFCF;
  background: #FBFBFB;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.contact-Us-info .item:not(:last-child) {
  margin-bottom: 1.88rem;
}
.contact-Us-info .item .img {
  width: 4rem;
  min-width: 4rem;
  max-width: 4rem;
  height: 4rem;
  border-radius: 100%;
  background: #231F20;
}
.contact-Us-info .item .img img {
  height: 45px;
}
.contact-Us-info .item .des span,
.contact-Us-info .item .des a {
  color: #010101;
  font-size: 0.894rem;
}

/*-----------------------
    news-details
-------------------------*/
.news-details .news-details-body {
  margin-bottom: 3rem;
}
.news-details .news-details-body h3 {
  color: #010101;
  font-family: "SourceSerifPro-Semibold";
}
@media (min-width: 790px) {
  .news-details .news-details-body h3 {
    font-size: 1.875rem;
  }
}
@media (max-width: 789.98px) {
  .news-details .news-details-body h3 {
    font-size: 1.25rem;
  }
}
.news-details .news-details-body .date {
  color: #010101;
  font-size: 0.9375rem;
  font-family: "SourceSerifPro-Semibold";
}
.news-details .news-details-body p {
  color: #010101;
}
@media (min-width: 790px) {
  .news-details .news-details-body p {
    font-size: 1.125rem;
  }
}
@media (max-width: 789.98px) {
  .news-details .news-details-body p {
    font-size: 1rem;
  }
}

/*-----------------------
    carriers
-------------------------*/
.carriers {
  padding: 40px 0;
}

.accordion-button {
  display: flex;
  align-items: center;
  min-height: 4.75rem;
  padding: 0 1rem;
}

.accordion-button:not(.collapsed)::after,
.accordion-button::after {
  display: none;
}

.accordion-button:not(.collapsed) {
  border-radius: 0.625rem;
  border-bottom: 1px solid #C3B7B7 !important;
  background: #D9D9D9;
}

.accordion-item {
  border-radius: 0.625rem;
  border: 1px solid #D4CACA;
  margin-bottom: 2.5rem;
  overflow: hidden;
  min-height: 4.75rem;
}

.accordion-button {
  box-shadow: unset !important;
  outline: 0 !important;
  border: 0 !important;
  border-color: unset !important;
}

.accordion-item:not(:first-of-type) {
  border-top: 1px solid #C3B7B7;
}

.header-accordion p {
  font-size: 1.375rem;
  font-family: "SourceSerifPro-Semibold";
  color: #010101;
}
.header-accordion span {
  font-size: 1.125rem;
  color: #D2A344;
  font-family: "SourceSerifPro-Regular";
}

.accordion-body p {
  margin-bottom: 1.31rem;
  color: #7E7676;
}
@media (min-width: 790px) {
  .accordion-body p {
    font-size: 1.125rem;
  }
}
@media (max-width: 789.98px) {
  .accordion-body p {
    font-size: 1rem;
  }
}
.accordion-body .btn {
  min-height: 2.31rem;
  text-transform: uppercase;
  border-radius: 1rem;
  color: #010101;
}
@media (min-width: 790px) {
  .accordion-body .btn {
    width: 10rem;
    font-size: 1.125rem;
  }
}
@media (max-width: 789.98px) {
  .accordion-body .btn {
    width: auto;
    padding: 0rem 2rem;
    font-size: 1rem;
  }
}

/*-----------------------
    meet-founders
-------------------------*/
.flex-card-founder {
  background: url(../images/img/water-mark.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 533px;
  z-index: -1;
}
@media (min-width: 790px) {
  .flex-card-founder {
    justify-content: space-between;
  }
}
@media (max-width: 789.98px) {
  .flex-card-founder {
    justify-content: center;
  }
}

.card-founder {
  border-radius: 7.4375rem;
}
.card-founder:first-child .card-body {
  border-radius: 0rem 8.4375rem 6.5625rem 8.75rem;
}
.card-founder:first-child .card-body::after {
  border-radius: 0rem 8.4375rem 6.5625rem 8.75rem;
}
.card-founder:last-child .card-body {
  border-radius: 6.4375rem 0rem 6.5625rem 6.5rem;
}
.card-founder:last-child .card-body::after {
  border-radius: 6.4375rem 0rem 6.5625rem 6.5rem;
}
.card-founder .card-body {
  height: 550px;
  margin-bottom: 1.88rem;
}
.card-founder .card-body img {
  height: 100%;
  margin-bottom: -10px;
}
.card-founder .card-body::after {
  position: absolute;
  top: unset;
  bottom: 0;
  content: " ";
  width: 100%;
  background: linear-gradient(215deg, #D9D9D9 21.67%, rgba(210, 163, 68, 0.48) 88.29%);
  height: 23rem;
  z-index: -1;
  padding: 0 0.44rem 0 0.94rem;
}
html[dir=rtl] .card-founder .card-body::after {
  right: 0;
  left: 0;
}
html[dir=ltr] .card-founder .card-body::after {
  right: 0;
  left: 0;
}
.card-founder .card-footer p {
  color: #010101;
  font-family: "SourceSerifPro-Semibold";
}
@media (min-width: 1400px) {
  .card-founder .card-footer p {
    font-size: 2.1875rem;
  }
}
@media (max-width: 1399.98px) {
  .card-founder .card-footer p {
    font-size: 1.5rem;
  }
}
.card-founder .card-footer span {
  color: #010101;
}
@media (min-width: 1400px) {
  .card-founder .card-footer span {
    font-size: 1.5625rem;
  }
}
@media (max-width: 1399.98px) {
  .card-founder .card-footer span {
    font-size: 1rem;
  }
}

/*-----------------------
    our-latest-news 
-------------------------*/
.our-latest-news .card-news .card-header {
  height: 280px;
}
.our-latest-news .card-news .card-header img {
  -o-object-fit: cover;
     object-fit: cover;
}
.our-latest-news .card-news .card-header span {
  color: #fff;
  border-radius: 0.5rem;
  background: #000;
  font-size: 1.125rem;
  letter-spacing: 0.0225rem;
  text-transform: capitalize;
  position: absolute;
  top: unset;
  bottom: 0;
  min-width: 6.5rem;
  min-height: 2.4rem;
}
html[dir=rtl] .our-latest-news .card-news .card-header span {
  right: unset;
  left: 0;
}
html[dir=ltr] .our-latest-news .card-news .card-header span {
  right: 0;
  left: unset;
}
.our-latest-news .card-news .card-body {
  min-height: 2rem;
}
.our-latest-news .card-news .card-body p,
.our-latest-news .card-news .card-body a {
  color: #000;
  font-family: "SourceSerifPro-Semibold";
}
html[dir=rtl] .our-latest-news .card-news .card-body p,
html[dir=rtl] .our-latest-news .card-news .card-body a {
  padding-left: 1rem;
}
html[dir=ltr] .our-latest-news .card-news .card-body p,
html[dir=ltr] .our-latest-news .card-news .card-body a {
  padding-right: 1rem;
}
@media (min-width: 992px) {
  .our-latest-news .card-news .card-body p,
  .our-latest-news .card-news .card-body a {
    font-size: 1.25rem;
  }
}
@media (max-width: 991.98px) {
  .our-latest-news .card-news .card-body p,
  .our-latest-news .card-news .card-body a {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .brand-video {
    height: 750px;
  }
}
@media (max-width: 991.98px) {
  .brand-video {
    height: 400px;
  }
}
.brand-video img {
  -o-object-fit: cover;
     object-fit: cover;
}
.brand-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: translateX(-50%) translateY(-50%);
}
.brand-video::after {
  position: absolute;
  top: 0;
  bottom: 0;
  content: " ";
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(90deg, rgba(13, 0, 0, 0.1) 2.3%, rgba(13, 0, 0, 0.2) 82.6%);
}
html[dir=rtl] .brand-video::after {
  right: 0;
  left: 0;
}
html[dir=ltr] .brand-video::after {
  right: 0;
  left: 0;
}

.absolute-text {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 11;
}
.absolute-text h3 {
  color: #FFF;
  margin-bottom: 1rem;
  font-family: "SourceSerifPro-Bold";
}
@media (min-width: 1300px) {
  .absolute-text h3 {
    font-size: 5rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1299px) {
  .absolute-text h3 {
    font-size: 3rem;
  }
}
@media (max-width: 991.98px) {
  .absolute-text h3 {
    font-size: 2.4rem;
  }
}
.absolute-text p {
  color: #FFF;
  font-family: "SourceSerifPro-Semibold";
}
@media (min-width: 1300px) {
  .absolute-text p {
    font-size: 3.125rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1299px) {
  .absolute-text p {
    font-size: 2.25rem;
  }
}
@media (max-width: 991.98px) {
  .absolute-text p {
    font-size: 1.5rem;
  }
}

.image-banner .absolute-text h4 {
  color: #FFF;
  margin-bottom: 2.5rem;
  font-family: "SourceSerifPro-Bold";
}
@media (min-width: 1300px) {
  .image-banner .absolute-text h4 {
    font-size: 3.125rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1299px) {
  .image-banner .absolute-text h4 {
    font-size: 2.125rem;
  }
}
@media (max-width: 991.98px) {
  .image-banner .absolute-text h4 {
    font-size: 1.125rem;
  }
}
.image-banner .absolute-text span {
  color: #FFF;
  font-family: "SourceSerifPro-Regular";
  font-size: 1.125rem;
}

/*-----------------------
    brands-section 
-------------------------*/
.brands-section {
  padding: 40px 0;
}
.brands-section .brands-card {
  padding: 0.66rem 1.5rem;
  border-radius: 1.125rem;
  border: 1px solid #CFBFBF;
}
.brands-section .brands-card .header-news-part {
  height: 280px;
}
.brands-section .brands-card .header-news-part img {
  height: 100%;
}
.brands-section .brands-card .header-part {
  height: 350px;
}
.brands-section .brands-card .header-part img {
  width: 220px;
  filter: grayscale(1);
  transition: all 1s ease-out;
}
.brands-section .brands-card:hover .header-part img {
  filter: unset;
}
.brands-section .brands-card .body-part p {
  color: #010101;
  font-size: 0.75rem;
  margin-bottom: 0.56rem;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 36px;
}
.brands-section .brands-card .body-part .btn-visit {
  font-weight: 500;
  color: #010101;
  margin: 0 auto;
  border-radius: 8px;
  min-height: 48px;
}
@media (min-width: 992px) {
  .brands-section .brands-card .body-part .btn-visit {
    width: 60%;
  }
}
@media (max-width: 991.98px) {
  .brands-section .brands-card .body-part .btn-visit {
    width: 90%;
  }
}

.brand-box {
  height: 150px;
}
.brand-box img {
  height: 100%;
}

/*-----------------------
    our-story 
-------------------------*/
.our-story {
  min-height: 28rem;
  display: flex;
  align-items: end;
}
.our-story .section-image {
  border-radius: 1.3125rem;
  border: 1px solid #D3CCCC;
}
@media (min-width: 1200px) {
  .our-story .section-image {
    width: 550px;
    height: 375px;
    position: absolute;
    top: unset;
    bottom: 2rem;
  }
  html[dir=rtl] .our-story .section-image {
    right: unset;
    left: 0;
  }
  html[dir=ltr] .our-story .section-image {
    right: 0;
    left: unset;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .our-story .section-image {
    width: 420px;
    height: 320px;
    position: absolute;
    top: unset;
    bottom: 2rem;
  }
  html[dir=rtl] .our-story .section-image {
    right: unset;
    left: 0;
  }
  html[dir=ltr] .our-story .section-image {
    right: 0;
    left: unset;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .our-story .section-image {
    width: 320px;
    height: 320px;
    position: absolute;
    top: unset;
    bottom: 2rem;
  }
  html[dir=rtl] .our-story .section-image {
    right: unset;
    left: 0;
  }
  html[dir=ltr] .our-story .section-image {
    right: 0;
    left: unset;
  }
}
@media screen and (max-width: 767.98px) {
  .our-story .section-image {
    width: 100%;
  }
}
.our-story .text-gray-part {
  border-radius: 1.5rem;
  background: #E4E4E4;
}
@media (min-width: 992px) {
  .our-story .text-gray-part {
    padding: 3rem 1rem 1.87rem 3rem;
  }
}
@media (max-width: 991.98px) {
  .our-story .text-gray-part {
    padding: 1.5rem 1rem 1rem 1.5rem;
  }
}
@media (min-width: 768px) {
  .our-story .text-gray-part .text {
    width: 65%;
  }
}
@media (max-width: 767.98px) {
  .our-story .text-gray-part .text {
    width: 100%;
  }
}
.our-story .text-gray-part .text h3 {
  position: relative;
  margin-bottom: 1.38rem;
  padding-bottom: 1.37rem;
  color: #010101;
  font-family: "SourceSerifPro-Semibold";
}
@media (min-width: 992px) {
  .our-story .text-gray-part .text h3 {
    font-size: 2.25rem;
  }
  .our-story .text-gray-part .text h3::after {
    width: 65%;
  }
}
@media (max-width: 991.98px) {
  .our-story .text-gray-part .text h3 {
    font-size: 1.25rem;
  }
  .our-story .text-gray-part .text h3::after {
    width: 50%;
  }
}
.our-story .text-gray-part .text h3::after {
  content: "";
  position: absolute;
  top: unset;
  bottom: 0;
  background: #D2A344;
  height: 0.1875rem;
}
html[dir=rtl] .our-story .text-gray-part .text h3::after {
  right: 0;
  left: 0;
}
html[dir=ltr] .our-story .text-gray-part .text h3::after {
  right: 0;
  left: 0;
}
.our-story .text-gray-part .text p {
  margin-top: 1.5rem;
  color: #848383;
  font-size: 1rem;
}

/*-----------------------
    chef-section
-------------------------*/
@media (min-width: 992px) {
  .chef-section {
    padding: 4rem 0;
  }
}
@media (max-width: 991.98px) {
  .chef-section {
    padding: 0rem 0 4rem 0;
  }
}
@media (min-width: 991.98px) {
  .chef-section .row-text {
    margin-bottom: -30px;
  }
}
@media (max-width: 991.98px) {
  .chef-section .row-text {
    margin-bottom: -10px;
  }
}
.chef-section .text-gray-part {
  padding: 1rem 1rem 3rem 1rem;
  border-radius: 1.5rem;
  background: #E4E4E4;
}
.chef-section .text-gray-part .text h3 {
  position: relative;
  margin-bottom: 1.38rem;
  padding-bottom: 1.37rem;
  color: #010101;
  font-family: "SourceSerifPro-Semibold";
}
@media (min-width: 992px) {
  .chef-section .text-gray-part .text h3 {
    font-size: 2rem;
  }
}
@media (max-width: 991.98px) {
  .chef-section .text-gray-part .text h3 {
    font-size: 1.25rem;
  }
}
.chef-section .text-gray-part .text h3::after {
  width: 50%;
  content: "";
  position: absolute;
  top: unset;
  bottom: 0;
  background: #D2A344;
  height: 0.1875rem;
}
html[dir=rtl] .chef-section .text-gray-part .text h3::after {
  right: 0;
  left: 0;
}
html[dir=ltr] .chef-section .text-gray-part .text h3::after {
  right: 0;
  left: 0;
}
.chef-section .text-gray-part .text p {
  color: #848383;
  font-size: 1rem;
}
@media (min-width: 992px) {
  .chef-section .text-gray-part .text p {
    margin-top: 1.5rem;
  }
}
.chef-section .bg-chef-banner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (min-width: 500px) {
  .chef-section .bg-chef-banner {
    height: 222px;
    border-radius: 47px;
  }
}
@media (max-width: 499.98px) {
  .chef-section .bg-chef-banner {
    height: 100px;
    border-radius: 15px;
  }
}
.chef-section .bg-chef-banner img {
  width: 90%;
}
.chef-section .image-chef {
  position: absolute;
  top: unset;
  bottom: -3px;
}
html[dir=rtl] .chef-section .image-chef {
  right: 0;
  left: unset;
}
html[dir=ltr] .chef-section .image-chef {
  right: unset;
  left: 0;
}
@media (min-width: 992px) {
  .chef-section .image-chef {
    width: 320px;
  }
}
@media screen and (min-width: 500px) and (max-width: 992px) {
  .chef-section .image-chef {
    width: 200px;
  }
}
@media (max-width: 499.98px) {
  .chef-section .image-chef {
    width: 110px;
  }
}
.chef-section .image-chef-two {
  position: absolute;
  top: unset;
  bottom: 0;
}
html[dir=rtl] .chef-section .image-chef-two {
  right: unset;
  left: 0;
}
html[dir=ltr] .chef-section .image-chef-two {
  right: 0;
  left: unset;
}
@media (min-width: 992px) {
  .chef-section .image-chef-two {
    width: 320px;
  }
}
@media screen and (min-width: 500px) and (max-width: 992px) {
  .chef-section .image-chef-two {
    width: 200px;
  }
}
@media (max-width: 499.98px) {
  .chef-section .image-chef-two {
    width: 110px;
  }
}

/*-----------------------
    about-goals
-------------------------*/
.about-goals {
  padding: 4rem 0;
}
.about-goals .box img {
  height: 3.75rem;
  display: block;
  margin: 0 auto 0.63rem auto;
}
.about-goals .box h4 {
  color: #D2A344;
  text-transform: uppercase;
  margin-bottom: 0.62rem;
  font-family: "SourceSerifPro-Semibold";
}
@media screen and (min-width: 1370px) {
  .about-goals .box h4 {
    font-size: 2.1875rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1369.98px) {
  .about-goals .box h4 {
    font-family: 1.78rem;
  }
}
@media (max-width: 991.98px) {
  .about-goals .box h4 {
    font-size: 1.5rem;
  }
}
.about-goals .box p {
  color: #010101;
}
@media screen and (min-width: 1370px) {
  .about-goals .box p {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1369.98px) {
  .about-goals .box p {
    font-size: 1rem;
  }
}
@media (max-width: 991.98px) {
  .about-goals .box p {
    font-size: 1rem;
  }
}

/*-----------------------
    Footer 
-------------------------*/
footer {
  padding: 2rem 0 1.5rem 0;
  background: #1E1E1E;
  margin-top: 2rem;
}
footer a {
  color: #FFFFFF;
}
footer .footer-info ul {
  gap: 1.44rem;
}
footer .footer-info ul li {
  gap: 0.88rem;
}
footer .footer-info ul li span,
footer .footer-info ul li a {
  color: #FFFFFF;
  font-size: 0.875rem;
}
footer .footer-nav .link:first-child {
  padding-bottom: 1.19rem;
}
footer .footer-nav .link:last-child {
  padding-top: 1.19rem;
  border-top: 0.1875rem solid #3C3939;
}
footer .footer-nav li a {
  text-transform: capitalize;
  font-size: 1rem;
  color: #D2A344;
  font-family: "SourceSerifPro-Semibold";
}
footer .copy-right {
  font-size: 0.75rem;
  color: #D2A344;
}
footer .copy-right a {
  color: #D2A344;
}

.swiper-wrapper {
  height: auto !important;
}/*# sourceMappingURL=general.css.map */